<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://nuget.org" />
        <add key="GitHub" value="https://nuget.pkg.github.com/abderrahmane-haberchid/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <GitHub>
            <add key="Username" value="abderrahmane-haberchid" />
            <add key="ClearTextPassword" value="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" />
        </GitHub>
    </packageSourceCredentials>
</configuration>